html, body {
  background-color: #fff;
  font-family: Sans-Serif;
}

canvas {
  background-color: #fff;
}

.containerDiv {
  width: 100%; 
  overflow: hidden;
}

.leftPanel {
  width: 600px; 
  float: left;
}

.rightPanel {
  right:0;
  margin-left: 620px; 
  margin-right: 20px; 
  height:580px; 
  background-color:#333333; 
  padding-left:30px; 
  padding-top:15px;  
  border: 0px solid;
  border-radius: 25px;
  color:#aaaaaa;
  overflow-y: auto;
}

.range {
  width:200px;
}

.valueIndicator{
  display:inline-block;
  margin-left:15px;
}

label {
    width:180px;
    clear:left;
    text-align:right;
    padding-right:10px;
}

.spacer {
  marigin:10px;
  display: inline-block;
}

#uiContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
}

.gman-slider-label {
  float: left;
  gbackground-color: green;
}
.gman-slider-value {
  float: right;
  gbackground-color: blue;
}
.gman-slider-upper {
  gbackground-color: yellow;
  height: 1.5em;
}
.gman-slider-outer {
  gbackground-color: purple;
  height: 2.5em;
}
.gman-slider-slider {
  font-size: x-small;
  gbackground-color: red;
}
